html, body {
    margin: 0;
    padding: 0;
}

* {box-sizing: border-box;}

body {
    background-color: #0B2434;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
  }

.diceContainer {
    background-color: #F5F5F5;
    max-width: 800px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.dice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 550px;
    margin-top: 25px;
}

.Die {
    background-color: #fff;
    color: #2B283A;
    font-size: 35px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 3px rgb(0 0 0 / 15%);
    border: none;
    font-family: 'Karla', sans-serif;
    transition: all .2s ;
}

.Die:hover {
    transform: scale(1.08)
}

.diceContainer--btn {
    background-color: #5035FF;
    border: none;
    padding: 13px 45px;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 34px;
}

.diceContainer--btn:active {
    box-shadow: inset 2px 2px 5px 3px rgb(0 0 0 / 55%);
}

.diceContainer--title {
    color: #2B283A;
    font-size: 45px;
    margin: 39px 0 0 0;
}

.diceContainer--instructions {
    font-family: 'Inter', sans-serif;
    color: #4A4E74;
    font-size: 20px;
    max-width: 370px;
    text-align: center;
    margin: 0 0 15px 0;
}

.greenShadow {
    box-shadow: 2px 2px 0px 3px rgb(198, 247, 218);
    background-color: #59e391;
}

.DieNum {
    width: 120%;
}

.dicePlayer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 550px;
    padding-bottom: 25px;
    border-bottom: #ff3c35 solid ;
}

.diceContainer--btnPlayer2 {
    background-color: #ff3c35;
    border: none;
    padding: 13px 45px;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
}

.diceContainer--btnPlayer2:active {
    box-shadow: inset 2px 2px 5px 3px rgb(0 0 0 / 55%);
}

.btns-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    
    margin-top: 25px;
}

.lockBtn {
    background-color: #ff3c35;
    border: none;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    margin-left: 5px;
    max-width: 100px;
    padding: 10px 40px;
}

.lockBtn:active {
    box-shadow: inset 2px 2px 5px 3px rgb(0 0 0 / 55%);
}

.lock {
    width: 100%;
}

.lockBtnBlue {
    background-color: #5035FF;
    border: none;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    align-self: stretch;
    border-radius: 5px;
    margin-left: 5px;
    max-width: 100px;
    padding: 10px 40px;
}

.lockBtnBlue:active {
    box-shadow: inset 2px 2px 5px 3px rgb(0 0 0 / 55%);
}

.player1Turn {
    background: rgb(245,245,245);
background: linear-gradient(180deg, rgba(245,245,245,1) 94%, rgba(80,53,255,1) 105%);
}

.player2Turn {
    background: rgb(245,245,245);
background: linear-gradient(360deg, rgba(245,245,245,1) 94%, rgba(255,60,53,1) 110%);
}

.outerContainer {
    display: flex;
    gap: 60px;
    justify-content: flex-start;

}

.mode {
    align-self: stretch;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 15px;
}

.menu-btn {
    width: 100%;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    color: #2B283A;
    text-transform: uppercase;
    font-weight: 700;
    justify-self: center;
    border: none;
    text-align: left;
    opacity: .9;
}

.mode--title {
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    color: #2B283A;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
}

.mode-instructions {
    font-family: 'karla', sans-serif;
    color: #4A4E74;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    padding: 0;
    opacity: .9;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #F5F5F5;
}

.hide {
    background-color: #0B2434;
}