html, body {
    margin: 0;
    padding: 0;
}

* {box-sizing: border-box;}

body {
    background-color: #0B2434;
    min-height: 100%;
    font-family: 'Karla', sans-serif;
}

img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

.Die {
    background-color: #fff;
    color: #2B283A;
    font-size: 35px;
    width: 13.8%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 2px 2px 0px 3px rgb(0 0 0 / 15%);
    border: none;
    font-family: 'Karla', sans-serif;
    transition: all .2s;
    cursor: pointer;
}

.Die:hover {
    transform: scale(1.08)
}

.greenShadow {
    box-shadow: 2px 2px 0px 3px rgb(198, 247, 218);
    background-color: #59e391;
}

.DieNum {
    width: 120%;
}

a {
    text-decoration: none;
}

.social--ul li .fab:hover,
.social--ul li .fab:hover {
    color: #231770;
}

@media (min-width: 400px) {
    .Die {
        border-radius: 6px;
    }
}

@media (min-width: 500px) {
    .Die {
        border-radius: 10px;
    }
}